/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Fredericka+the+Great&family=Kranky&family=Limelight&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');
:root {
    --primary-color: #07564d;
    --secondary-color: #bdd0cc;
    --primary-color-opaque: #07564d98;
    --ff-body: 'Montserrat', sans-serif;
    --ff-headings: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-body);
    color: var(--primary-color);
    min-height: 100vh;
}
/* Header */

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-color-opaque);
    border-bottom: solid 0.5rem  #bdd0cc; 
    padding-bottom: 0.5rem;  
}

#logo {
    height: clamp(3.5rem, 6vw, 6rem);
    margin: 0.2rem; 
}
/* Navigation Bar */
nav a {
    color:  var(--secondary-color);
    text-decoration: none;
    padding: 0 0.4rem;
    font-size: clamp(1.1rem, 2.66vw + 0.44rem, 1.6rem);
  
}
nav a:hover {  
    color: #c5b7aa;
}

/* Hero Image */
.hero-image {
    background: url(images/hero-crop3.jpg) no-repeat;
    background-position: center; 
    background-size: cover;
    background-color: var(--primary-color);
    border-bottom: solid 0.5rem   #bdd0cc;
}
#hero {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;

}
#hero h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.8rem;
    color: var(--secondary-color);
}
#hero h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding: 0.2rem;
    background-color: var(--primary-color-opaque);
}
main {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    /* background:  #c8b6a7; */
}
main img {
    width: 30vw;
    border-radius: 25%;
}
#contact-details p {
    color: var(--primary-color);
 
}


.button {
    display: inline;
    text-decoration: none;
    border: 2px solid;
    padding: 0.5rem 1rem;
    color: #bdd0cc;
    background-color: var(--primary-color-opaque);
}
p {
    padding: 1rem;
    margin: 0.2rem 2rem;


}
h3 {
    text-align: center;
    padding: 1rem 2rem;
    margin: 0.2rem 2rem;

}

#contact-details {
    display: flex;
    background: #c5b7aa;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
#contact-details p, #contact-details h3 {
    padding: 0.3rem;
    text-align: left;
    
}


.contact-links {
    margin: 0rem 2rem;
    display:flex;
    justify-content: center;
}
.contact-links img {
    width: clamp(2rem, 1.5vw + 1.8rem, 2.5rem);
    padding: 0.1rem;
  }
  /* Footer */
footer {
    background: var(--primary-color);
    border-top: solid 0.5rem #bdd0cc;
}
footer p {
    text-align: center;
    color: #bdd0cc;
    padding: 1rem;
    margin-top: auto;
}
/* Image Containers */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
figure {
    width: 30%;
    height: 100%;
    margin: 1rem;

}
figure img {
    border-radius: 10%;
    margin-left:2rem;
}
figcaption {
    margin-top: -6.2rem;
    padding: 0.5rem 1rem;
    background: var(--primary-color-opaque);
    color: var(--secondary-color);
    position: absolute;
    border-radius: 10%
    

}
.test {
    width: 25%;
}

@media screen and (min-width: 400px) {
    header {
        flex-direction: row;
        justify-content:space-between;
     }
     nav {
        display: flex;
     }
     
     nav a::before {
        content: '';
        display: block;
        height: 5px;
        background:  #c5b7aa;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
        }
        nav a:hover::before {   
        transform: scale(1,1);
        }
    } 

 
@media screen and (min-width: 600px) {
    
    
    nav a {
        margin: 0 0.8rem;

         
    }

    
